numpy
pandas
scikit-learn
scipy
statsmodels
plotly
requests
beautifulsoup4
pywin32
schedule
seaborn
psutil
pyuac
paramiko
openpyxl
pyautogui
ldap3
jsonschema
loguru
netmiko
Flask
python-docx
winrm
pyinstaller
